rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Manuscript and proposal uploads
    match /manuscripts/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
